%heading {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1;
  color: $color-primary-dark;
  letter-spacing: 1px;
  margin: 0;
}
a {
  text-decoration: none;
  color: $color-black;

  &:visited {
    color: $color-black;
  }
  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
}
body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
  color: $color-black;
  background-color: $color-background;
}

.heading-1 {
  @extend %heading;
  font-size: 7rem;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
}
.heading-3 {
  @extend %heading;
  font-size: 3rem;

  @media only screen and (max-width: $bp-1600) {
    font-size: 2.8rem;
  }
  @media only screen and (max-width: $bp-1200) {
    font-size: 2.2rem;
  }
  @media only screen and (max-width: $bp-800) {
    font-size: 1.8rem;
  }
}
.heading-4 {
  @extend %heading;
  font-size: 1.8rem;
  font-style: italic;

  @media only screen and (max-width: $bp-1200) {
    font-size: 1.4rem;
  }
  @media only screen and (max-width: $bp-800) {
    font-size: 1.2rem;
  }
}
.alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0.8rem;
  width: 50%;
  opacity: 0.9;
  background: var(--light-color);
  text-align: center;
  transform: translateX(50%);
}

.alert-primary {
  background: green;
  color: #fff;
}

.alert-light {
  background: white;
  color: #333;
}
.alert-dark {
  background: grey;
  color: #fff;
}

.alert-danger {
  background: red;
  color: #fff;
}
.alert-success {
  background: green;
  color: #fff;
}
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.isActive {
  color: $color-primary !important;
  font-weight: 600;

  &--2 {
    color: $color-primary-dark !important;
  }
}
::placeholder {
  color: $color-grey-dark-2;
  font-size: 1.6rem;
}

input[type='time']::-webkit-clear-button {
  display: none;
}
input[type='time']::-webkit-inner-spin-button,
input[type='time']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
