.cartPage {
  grid-row: 2 / 3;
  grid-column: center-start / center-end;

  display: grid;
  grid-template-rows: 10rem min-content 30rem;
  grid-row-gap: 5rem;
  padding: 2rem 10rem;

  @media only screen and (max-width: $bp-1400) {
    padding: 2rem 4rem;
  }
  @media only screen and (max-width: $bp-1200) {
    grid-column: full-start / full-end;
    padding: 1rem 0;
  }

  &__steps {
    display: flex;
    align-items: center;

    &__step {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__circle {
      position: relative;
      height: 6rem;
      width: 6rem;
      border: 3px solid $color-grey-light-2;
      border-radius: 50%;
      margin: 0 1rem;

      @media only screen and (max-width: $bp-800) {
        height: 4rem;
        width: 4rem;
        margin: 0 0.5rem;
      }
      @media only screen and (max-width: $bp-500) {
        width: 3rem;
        height: 3rem;
        margin: 0 0.2rem;
      }
      @media only screen and (max-width: $bp-400) {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0;
      }

      &--active {
        border: 3px solid $color-primary;
      }

      &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-weight: 900;
        font-size: 2.6rem;
        color: $color-grey-light-2;

        @media only screen and (max-width: $bp-800) {
          font-size: 2rem;
        }
        @media only screen and (max-width: $bp-500) {
          font-size: 1.5rem;
        }
        @media only screen and (max-width: $bp-400) {
          font-size: 1.2rem;
        }

        &--active {
          color: $color-primary;
        }
      }
    }
    &__header {
      font-weight: 600;
      text-decoration: none;
      font-style: normal;
      color: $color-grey-light-2;
      margin: 0 1rem;

      @media only screen and (max-width: $bp-500) {
        font-size: 1.2rem;
        padding: 0;
      }

      &--active {
        color: $color-primary;
      }
    }
    &__line {
      background-color: $color-grey-light-2;
      height: 3px;
      width: 10rem;
      margin: 0 4rem;

      @media only screen and (max-width: $bp-800) {
        width: 6rem;
        margin: 0 2.5rem;
      }
      @media only screen and (max-width: $bp-500) {
        width: 4rem;
        margin: 0 1.5rem;
      }

      @media only screen and (max-width: $bp-400) {
        width: 3.5rem;
        margin: 0 0.5rem;
      }
    }
  }

  &__products {
    display: grid;
    grid-template-rows: 5rem min-content;
    grid-row-gap: 5rem;
    align-items: center;
    width: 100%;

    &__header {
      width: 30rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid $color-grey-dark-2;
      padding: 0.5rem 2rem;

      &__text {
        margin-left: 1.5rem;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }

    &__content {
      display: grid;
      grid-template-columns: 15rem 1fr 20rem repeat(3, 10rem) 5rem;

      align-items: center;
      justify-items: center;
      width: 100%;

      padding: 1rem 4rem;

      @media only screen and (max-width: $bp-1600) {
        padding: 0;
      }
      @media only screen and (max-width: $bp-1000) {
        grid-template-columns: 15rem calc(100% - 70rem) 20rem repeat(3, 10rem) 5rem;
      }
      @media only screen and (max-width: $bp-800) {
        grid-template-columns: 25rem repeat(3, 10rem) 5rem;
        padding: 0 2rem;
      }
      @media only screen and (max-width: $bp-500) {
        grid-template-columns: 20rem repeat(3, 9rem) 5rem;
        padding: 0;
      }
      @media only screen and (max-width: $bp-400) {
        grid-template-columns: 15rem repeat(3, 8rem) 5rem;
      }

      &__header {
        font-size: 2rem;
        color: $color-primary-dark;
        font-weight: 600;
        letter-spacing: 1px;

        @media only screen and (max-width: $bp-500) {
          font-size: 1.6rem;
        }

        &--first {
          justify-self: start;
          grid-column: 2 / 3;

          @media only screen and (max-width: $bp-800) {
            grid-column: 1 / 2;
          }
        }
        &--time {
          @media only screen and (max-width: $bp-800) {
            display: none;
          }
        }
      }

      &__item {
        width: 100%;
        height: 10rem;

        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: 15rem 1fr 20rem repeat(3, 10rem) 5rem;
        align-items: center;
        justify-items: center;
        font-size: 1.6rem;
        padding: 2rem 0;
        border-top: 1px dotted $color-grey-dark-2;

        @media only screen and (max-width: $bp-1000) {
          grid-template-columns: 15rem calc(100% - 70rem) 20rem repeat(3, 10rem) 5rem;
        }
        @media only screen and (max-width: $bp-800) {
          grid-template-columns: 25rem repeat(3, 10rem) 5rem;
        }
        @media only screen and (max-width: $bp-500) {
          grid-template-columns: 20rem repeat(3, 9rem) 5rem;
          font-size: 1.4rem;
          padding: 0.5rem 0;
        }
        @media only screen and (max-width: $bp-400) {
          grid-template-columns: 15rem repeat(3, 8rem) 5rem;
          font-size: 1.4rem;
        }

        &__img {
          grid-column: 1 / 2;
          width: 100%;
          height: 100%;
          object-fit: contain;

          @media only screen and (max-width: $bp-800) {
            display: none;
          }
        }
        &__name {
          justify-self: start;
          grid-column: 2 / 3;

          @media only screen and (max-width: $bp-800) {
            grid-column: 1 / 2;
          }
        }
        &__delivery {
          text-align: center;
          @media only screen and (max-width: $bp-800) {
            display: none;
          }
        }
        &__icon {
          height: 2rem;
          width: 2rem;
          border: none;
          background: none;
          fill: $color-primary-dark;
          cursor: pointer;

          &:focus {
            outline: none;
          }
        }
      }
    }

    &__delivery {
      display: grid;
      grid-template-rows: 5rem min-content;
      align-items: center;

      &__item {
        margin-top: 2rem;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
  }

  &__cta {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-1000) {
      padding: 1rem 0;
    }
    @media only screen and (max-width: $bp-800) {
      flex-direction: column;
      align-items: flex-start;
    }

    &__discount {
      padding: 2rem 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @media only screen and (max-width: $bp-1000) {
        padding: 1rem 0;
      }

      &__text {
        font-size: 2rem;
        font-weight: 600;
        color: $color-primary-dark;

        @media only screen and (max-width: $bp-1400) {
          font-size: 1.6rem;
        }
        @media only screen and (max-width: $bp-500) {
          font-size: 1.2rem;
        }
      }
      &__input {
        text-align: center;
        padding: 0.5rem 1rem;
        border: none;
        background: none;
        border-bottom: 1px solid $color-black;
        margin: 0 2rem;

        @media only screen and (max-width: $bp-500) {
          width: 20rem;
        }

        &:focus {
          outline: none;
        }
      }
    }
    &__summary {
      padding: 2rem 3rem;

      display: grid;
      grid-template-rows: repeat(3, 3rem) 4rem 6rem;
      grid-row-gap: 1rem;
      grid-template-columns: 1fr 10rem;
      align-items: center;
      justify-items: end;

      &__item {
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 1px;

        &--bigger {
          font-size: 2.2rem;
          font-weight: 600;
          text-transform: uppercase;
        }
        &__payment {
          grid-row: 5 /6;
          grid-column: 1 / -1;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          &__text {
            color: $color-black;
            font-style: italic;
            margin-top: 0.5rem;
            padding-left: 10rem;
            text-align: right;
            font-size: 1.2rem;
            @media only screen and (max-width: $bp-1600) {
              padding-left: 0;
            }
          }
        }
      }

      &__btn {
        grid-column: 1 / -1;
        text-transform: none;
      }
    }
  }
}
