.userPage {
  grid-row: 2 / 3;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 30rem 1fr;

  @media only screen and (max-width: $bp-1000) {
    grid-template-columns: 25rem 1fr;
  }
  @media only screen and (max-width: $bp-800) {
    grid-template-columns: 20rem 1fr;
  }
  @media only screen and (max-width: $bp-500) {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
  }

  &__nav {
    grid-column: 1 / 2;

    @media only screen and (max-width: $bp-500) {
      grid-row: 1 / 2;
    }

    &__list {
      padding: 4rem 2rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media only screen and (max-width: $bp-1000) {
        padding: 4rem 0;
      }
      @media only screen and (max-width: $bp-500) {
        padding: 0 4rem;
        width: 100vw;
      }

      &__item {
        position: relative;
        width: 100%;
        padding: 1rem;
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: 1px;

        @media only screen and (max-width: $bp-500) {
          width: 60%;
          &:last-child {
            padding-bottom: 5rem;
            border-bottom: 1px dotted $color-grey-dark-2;
          }
        }

        &--active {
          color: $color-background !important;
        }

        &__link {
          position: relative;
          z-index: 30;
          padding: 0.3rem;
        }
        &:hover {
          text-decoration: none;
          color: $color-background;
        }
        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 3px;
          background-color: $color-primary;
          transform: scaleY(0);
          transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
            background-color 0.1s;
        }

        &:hover::before,
        &--active::before {
          transform: scaleY(1);
          width: 100%;
        }

        &:active::before {
          background-color: $color-primary;
        }

        &--btn {
          background: none;
          border: none;
          cursor: pointer;

          font-family: $font-primary;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  &__about,
  &__settings,
  &__orders {
    padding: 4rem 12rem;

    @media only screen and (max-width: $bp-1000) {
      padding: 4rem 8rem;
    }
    @media only screen and (max-width: $bp-800) {
      padding: 4rem;
    }

    &__header {
      margin-bottom: 5rem;

      @media only screen and (max-width: $bp-800) {
        margin-bottom: 2rem;
      }
    }

    display: flex;
    flex-direction: column;

    &__list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media only screen and (max-width: $bp-500) {
        align-items: center;
      }

      &__item {
        font-size: 1.4rem;

        &__address {
          font-size: 1.4rem;

          display: flex;
          flex-direction: column;
          //align-items: center;

          &__text {
            margin-right: 1rem;
          }
          &__link {
            padding: 0.2rem 0.4rem;
            font-size: 1.4rem;
            width: 14rem;
          }
        }
      }
    }
  }
  &__settings {
    &__input-container {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      &__text {
        width: 16rem;
        font-size: 1.8rem;
        margin: 0.5rem 1rem;

        @media only screen and (max-width: $bp-800) {
          width: 14rem;
        }
      }
      &__input {
        width: 30rem;
        padding: 1rem 2rem;
        background-color: $color-background;
        border: 1px solid $color-grey-dark-2;
        font-family: $font-primary;
        font-size: 1.6rem;
        color: $color-black;

        @media only screen and (max-width: $bp-800) {
          width: 22rem;
          padding: 1rem 1.6rem;
        }

        &::placeholder {
          color: $color-grey-light-2;
        }
      }
    }
    &__btn {
      padding: 1rem 2rem;
      width: 50rem;
      border-radius: 0;
      margin-top: 2rem;

      @media only screen and (max-width: $bp-800) {
        width: 40rem;
      }
    }
  }

  &__orders {
    &__list {
      padding: 0.3rem 1rem;
      &__header {
        font-style: normal;
        font-weight: 600;
      }
      &__item {
        display: grid;
        grid-template-rows: 4rem 2.5rem;
        margin: 2rem 0;

        @media only screen and (max-width: $bp-800) {
          grid-template-rows: 3rem 2.5rem;
          margin: 1.2rem 0;
        }

        &__product {
          margin: 0.2rem 1rem;
          display: grid;
          grid-template-columns: 30rem 5rem 1fr;

          @media only screen and (max-width: $bp-500) {
            grid-template-columns: 25rem 4rem 7rem;
          }

          &__price {
            font-size: 1.6rem;
            font-weight: 600;
            margin: 0.2rem 1rem;
          }
        }
      }
    }
  }
}
