$color-primary: #3d5af1;
$color-primary-dark: #0e153a;
$color-primary-light: #22d1ee;
$color-background: #e2f3f5;

$color-white: #fff;
$color-black: #111;
$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #aaa;
$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Source Sans Pro', sans-serif;
//$font-display:

//bp

// $bp-1500: 93.75em;
// $bp-1300: 81.25em;
// $bp-1100: 68.75em;
// $bp-900: 56.25em;
// $bp-700: 43.75em;
// $bp-600: 37.5em;
// $bp-500: 31.25em;
// $bp-450: 28.125em;
// $bp-400: 25em;
