@import "./variables";

@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

@import "./layout/footer";
@import "./layout/header";
@import "./layout/nav-bottom";
@import "./layout/nav-top";
@import "./layout/not-found-page";
@import "./components/auth";
@import "./components/btn";
@import "./components//dashboard";
@import "./components/categoryPage";
@import "./components/itemPage";
@import "./components/cartPage";
@import "./components/userPage";
